.con-induccion {
  width: 100%;
  height: auto;
  overflow: hidden;
  // background: rgb(233, 145, 226);

}
.con-induccion
  h2
    font-size: 23px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    b
      margin-left: 7px;
    span
      width: 40px
      height: 40px
      color: rgb(255, 255, 255)
      background: rgb(secondary);
      display: block;
      float: left;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
.textx {
  color: rgb(secondary);
  padding: 50px;
  padding-left: 70px;
}
.textx
  i
    font-size: 17px
  p
    clear: both;
    padding: 10px;
.textx a {
  color: rgb(primary);
  font-weight: bold;
}
.grisx
  background: rgb(255, 255, 255)



.textx
  input
    padding: 5px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.2)
    margin: 10px;
  table
    width: 100%
    background: rgba(primary,.1)
    border-radius: 5px
    overflow: hidden;
  td,th
    padding: 7px
  thead
    background: rgb(secondary)
    color: rgb(255, 255, 255)
  tbody
    :first-child
      font-weight: bold !important;

.ejemplo
  ul
    li
      border-left: 2px solid rgb(primary)
      padding: 5px;
      padding-left: 10px;
      margin-top: 30px;
      background: rgb(245, 245, 245)
